/public/sitemap.xml
*.log
db/schema.rb
db/schema.sql
config/database.yml
tmp/
/log
tmp
*.swp
*.swo
public/javascripts/less_routes.js
/public/uploads
/public/photos
/public/avatars
/public/stylesheets/cache
/public/javascripts/cache
/config/google_maps_api_key.rb
nbproject
/db/sphinx
/config/*.sphinx.conf
